IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [Policies] (
        [Id] int NOT NULL IDENTITY,
        [Name] nvarchar(max) NOT NULL,
        [HealthCoverage] decimal(18,2) NOT NULL,
        [LifeCoverageMultiplier] int NULL,
        [MaxLifeCoverageLimit] decimal(18,2) NULL,
        [AccidentCoverage] decimal(18,2) NULL,
        [PremiumPerEmployee] decimal(18,2) NOT NULL,
        [MinEmployees] int NOT NULL,
        [DurationYears] int NOT NULL,
        [IsPopular] bit NOT NULL,
        [IsActive] bit NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Policies] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [Users] (
        [Id] int NOT NULL IDENTITY,
        [FullName] nvarchar(100) NOT NULL,
        [Email] nvarchar(150) NOT NULL,
        [PasswordHash] nvarchar(200) NOT NULL,
        [Role] int NOT NULL,
        [IsActive] bit NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [Companies] (
        [Id] int NOT NULL IDENTITY,
        [CustomerId] int NOT NULL,
        [CompanyName] nvarchar(max) NOT NULL,
        [Size] int NOT NULL,
        [Domain] nvarchar(max) NOT NULL,
        [RepresentativeName] nvarchar(max) NOT NULL,
        [RepresentativeEmail] nvarchar(max) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        [AgentId] int NULL,
        [ClaimsManagerId] int NULL,
        CONSTRAINT [PK_Companies] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Companies_Users_AgentId] FOREIGN KEY ([AgentId]) REFERENCES [Users] ([Id]) ON DELETE SET NULL,
        CONSTRAINT [FK_Companies_Users_ClaimsManagerId] FOREIGN KEY ([ClaimsManagerId]) REFERENCES [Users] ([Id]),
        CONSTRAINT [FK_Companies_Users_CustomerId] FOREIGN KEY ([CustomerId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [QuoteRequests] (
        [Id] int NOT NULL IDENTITY,
        [CustomerId] int NOT NULL,
        [PolicyId] int NULL,
        [RequestType] nvarchar(max) NOT NULL,
        [CompanyName] nvarchar(max) NOT NULL,
        [IndustryType] nvarchar(max) NOT NULL,
        [NumberOfEmployees] int NOT NULL,
        [Location] nvarchar(max) NOT NULL,
        [ContactName] nvarchar(max) NOT NULL,
        [ContactEmail] nvarchar(max) NOT NULL,
        [ContactPhone] nvarchar(max) NOT NULL,
        [Status] nvarchar(max) NOT NULL,
        [AssignedAgentId] int NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_QuoteRequests] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_QuoteRequests_Policies_PolicyId] FOREIGN KEY ([PolicyId]) REFERENCES [Policies] ([Id]) ON DELETE SET NULL,
        CONSTRAINT [FK_QuoteRequests_Users_AssignedAgentId] FOREIGN KEY ([AssignedAgentId]) REFERENCES [Users] ([Id]) ON DELETE SET NULL,
        CONSTRAINT [FK_QuoteRequests_Users_CustomerId] FOREIGN KEY ([CustomerId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [CompanyPolicies] (
        [Id] int NOT NULL IDENTITY,
        [CompanyId] int NOT NULL,
        [PolicyId] int NOT NULL,
        [Status] nvarchar(max) NOT NULL,
        [StartDate] datetime2 NOT NULL,
        [EndDate] datetime2 NOT NULL,
        [EmployeeCount] int NOT NULL,
        [TotalPremium] decimal(18,2) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_CompanyPolicies] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_CompanyPolicies_Companies_CompanyId] FOREIGN KEY ([CompanyId]) REFERENCES [Companies] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_CompanyPolicies_Policies_PolicyId] FOREIGN KEY ([PolicyId]) REFERENCES [Policies] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [Employees] (
        [Id] int NOT NULL IDENTITY,
        [CompanyId] int NOT NULL,
        [EmployeeCode] nvarchar(max) NOT NULL,
        [FullName] nvarchar(max) NOT NULL,
        [Email] nvarchar(max) NOT NULL,
        [Gender] nvarchar(max) NOT NULL,
        [Salary] decimal(18,2) NOT NULL,
        [IsActive] bit NOT NULL,
        [CoverageStartDate] datetime2 NOT NULL,
        [NomineeName] nvarchar(max) NOT NULL,
        [NomineeRelationship] nvarchar(max) NOT NULL,
        [NomineePhone] nvarchar(max) NOT NULL,
        [HealthCoverageRemaining] decimal(18,2) NULL,
        [AccidentClaimRaised] bit NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Employees] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Employees_Companies_CompanyId] FOREIGN KEY ([CompanyId]) REFERENCES [Companies] ([Id]) ON DELETE CASCADE
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [Quotes] (
        [Id] int NOT NULL IDENTITY,
        [QuoteRequestId] int NOT NULL,
        [AgentId] int NOT NULL,
        [CustomerId] int NOT NULL,
        [PolicyId] int NOT NULL,
        [EmployeeCount] int NOT NULL,
        [PremiumPerEmployee] decimal(18,2) NOT NULL,
        [TotalPremium] decimal(18,2) NOT NULL,
        [Status] nvarchar(max) NOT NULL,
        [ValidUntil] datetime2 NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Quotes] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Quotes_Policies_PolicyId] FOREIGN KEY ([PolicyId]) REFERENCES [Policies] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_Quotes_QuoteRequests_QuoteRequestId] FOREIGN KEY ([QuoteRequestId]) REFERENCES [QuoteRequests] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_Quotes_Users_AgentId] FOREIGN KEY ([AgentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_Quotes_Users_CustomerId] FOREIGN KEY ([CustomerId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [Recommendations] (
        [Id] int NOT NULL IDENTITY,
        [QuoteRequestId] int NOT NULL,
        [AgentId] int NOT NULL,
        [CustomerId] int NOT NULL,
        [AgentMessage] nvarchar(max) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Recommendations] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Recommendations_QuoteRequests_QuoteRequestId] FOREIGN KEY ([QuoteRequestId]) REFERENCES [QuoteRequests] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_Recommendations_Users_AgentId] FOREIGN KEY ([AgentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_Recommendations_Users_CustomerId] FOREIGN KEY ([CustomerId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [Claims] (
        [Id] int NOT NULL IDENTITY,
        [CompanyPolicyId] int NOT NULL,
        [EmployeeId] int NOT NULL,
        [CustomerId] int NOT NULL,
        [ClaimsManagerId] int NOT NULL,
        [ClaimType] nvarchar(max) NOT NULL,
        [ClaimAmount] decimal(18,2) NOT NULL,
        [AccidentType] nvarchar(max) NULL,
        [AccidentPercentage] decimal(5,2) NULL,
        [Status] nvarchar(max) NOT NULL,
        [RejectionReason] nvarchar(max) NULL,
        [ClaimsManagerNote] nvarchar(max) NULL,
        [CreatedAt] datetime2 NOT NULL,
        [ProcessedAt] datetime2 NULL,
        CONSTRAINT [PK_Claims] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Claims_CompanyPolicies_CompanyPolicyId] FOREIGN KEY ([CompanyPolicyId]) REFERENCES [CompanyPolicies] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_Claims_Employees_EmployeeId] FOREIGN KEY ([EmployeeId]) REFERENCES [Employees] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_Claims_Users_ClaimsManagerId] FOREIGN KEY ([ClaimsManagerId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_Claims_Users_CustomerId] FOREIGN KEY ([CustomerId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [Payments] (
        [Id] int NOT NULL IDENTITY,
        [QuoteId] int NOT NULL,
        [CustomerId] int NOT NULL,
        [PolicyId] int NOT NULL,
        [PaymentMethod] nvarchar(max) NOT NULL,
        [CardHolderName] nvarchar(max) NOT NULL,
        [MaskedCardNumber] nvarchar(max) NOT NULL,
        [AmountPaid] decimal(18,2) NOT NULL,
        [Status] nvarchar(max) NOT NULL,
        [InvoiceNumber] nvarchar(max) NOT NULL,
        [PaidAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Payments] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Payments_Policies_PolicyId] FOREIGN KEY ([PolicyId]) REFERENCES [Policies] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_Payments_Quotes_QuoteId] FOREIGN KEY ([QuoteId]) REFERENCES [Quotes] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_Payments_Users_CustomerId] FOREIGN KEY ([CustomerId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [RecommendationPolicies] (
        [Id] int NOT NULL IDENTITY,
        [RecommendationId] int NOT NULL,
        [PolicyId] int NOT NULL,
        CONSTRAINT [PK_RecommendationPolicies] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_RecommendationPolicies_Policies_PolicyId] FOREIGN KEY ([PolicyId]) REFERENCES [Policies] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_RecommendationPolicies_Recommendations_RecommendationId] FOREIGN KEY ([RecommendationId]) REFERENCES [Recommendations] ([Id]) ON DELETE CASCADE
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE TABLE [AgentCommissions] (
        [Id] int NOT NULL IDENTITY,
        [PaymentId] int NOT NULL,
        [AgentId] int NOT NULL,
        [CommissionRate] decimal(5,2) NOT NULL,
        [CommissionAmount] decimal(18,2) NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_AgentCommissions] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_AgentCommissions_Payments_PaymentId] FOREIGN KEY ([PaymentId]) REFERENCES [Payments] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_AgentCommissions_Users_AgentId] FOREIGN KEY ([AgentId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'AccidentCoverage', N'CreatedAt', N'DurationYears', N'HealthCoverage', N'IsActive', N'IsPopular', N'LifeCoverageMultiplier', N'MaxLifeCoverageLimit', N'MinEmployees', N'Name', N'PremiumPerEmployee') AND [object_id] = OBJECT_ID(N'[Policies]'))
        SET IDENTITY_INSERT [Policies] ON;
    EXEC(N'INSERT INTO [Policies] ([Id], [AccidentCoverage], [CreatedAt], [DurationYears], [HealthCoverage], [IsActive], [IsPopular], [LifeCoverageMultiplier], [MaxLifeCoverageLimit], [MinEmployees], [Name], [PremiumPerEmployee])
    VALUES (1, NULL, ''2026-01-01T00:00:00.0000000Z'', 1, 200000.0, CAST(1 AS bit), CAST(0 AS bit), NULL, NULL, 10, N''Essential Base'', 3000.0),
    (2, NULL, ''2026-01-01T00:00:00.0000000Z'', 1, 300000.0, CAST(1 AS bit), CAST(0 AS bit), 2, 1000000.0, 10, N''Essential Plus'', 5000.0),
    (3, 200000.0, ''2026-01-01T00:00:00.0000000Z'', 1, 400000.0, CAST(1 AS bit), CAST(0 AS bit), 3, 1500000.0, 10, N''Essential Pro'', 7000.0),
    (4, NULL, ''2026-01-01T00:00:00.0000000Z'', 1, 300000.0, CAST(1 AS bit), CAST(0 AS bit), NULL, NULL, 80, N''Enhanced Base'', 6500.0),
    (5, NULL, ''2026-01-01T00:00:00.0000000Z'', 1, 400000.0, CAST(1 AS bit), CAST(1 AS bit), 3, 4000000.0, 80, N''Enhanced Plus'', 9500.0),
    (6, 500000.0, ''2026-01-01T00:00:00.0000000Z'', 1, 500000.0, CAST(1 AS bit), CAST(0 AS bit), 4, 5000000.0, 80, N''Enhanced Pro'', 12500.0),
    (7, NULL, ''2026-01-01T00:00:00.0000000Z'', 1, 500000.0, CAST(1 AS bit), CAST(0 AS bit), NULL, NULL, 200, N''Enterprise Base'', 12000.0),
    (8, NULL, ''2026-01-01T00:00:00.0000000Z'', 1, 700000.0, CAST(1 AS bit), CAST(0 AS bit), 4, 10000000.0, 200, N''Enterprise Plus'', 16000.0),
    (9, 1000000.0, ''2026-01-01T00:00:00.0000000Z'', 1, 1000000.0, CAST(1 AS bit), CAST(0 AS bit), 5, 15000000.0, 200, N''Enterprise Pro'', 21000.0)');
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'AccidentCoverage', N'CreatedAt', N'DurationYears', N'HealthCoverage', N'IsActive', N'IsPopular', N'LifeCoverageMultiplier', N'MaxLifeCoverageLimit', N'MinEmployees', N'Name', N'PremiumPerEmployee') AND [object_id] = OBJECT_ID(N'[Policies]'))
        SET IDENTITY_INSERT [Policies] OFF;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Email', N'FullName', N'IsActive', N'PasswordHash', N'Role') AND [object_id] = OBJECT_ID(N'[Users]'))
        SET IDENTITY_INSERT [Users] ON;
    EXEC(N'INSERT INTO [Users] ([Id], [CreatedAt], [Email], [FullName], [IsActive], [PasswordHash], [Role])
    VALUES (1, ''2026-01-01T00:00:00.0000000Z'', N''admin@groupinsurance.com'', N''System Admin'', CAST(1 AS bit), N''$2a$11$UUu/cFfejo9bEL/Z00yDwO3lHVu6kaoAOd.ybxnANFItUiMAG1xvO'', 1)');
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Email', N'FullName', N'IsActive', N'PasswordHash', N'Role') AND [object_id] = OBJECT_ID(N'[Users]'))
        SET IDENTITY_INSERT [Users] OFF;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_AgentCommissions_AgentId] ON [AgentCommissions] ([AgentId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE UNIQUE INDEX [IX_AgentCommissions_PaymentId] ON [AgentCommissions] ([PaymentId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Claims_ClaimsManagerId] ON [Claims] ([ClaimsManagerId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Claims_CompanyPolicyId] ON [Claims] ([CompanyPolicyId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Claims_CustomerId] ON [Claims] ([CustomerId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Claims_EmployeeId] ON [Claims] ([EmployeeId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Companies_AgentId] ON [Companies] ([AgentId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Companies_ClaimsManagerId] ON [Companies] ([ClaimsManagerId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Companies_CustomerId] ON [Companies] ([CustomerId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_CompanyPolicies_CompanyId] ON [CompanyPolicies] ([CompanyId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_CompanyPolicies_PolicyId] ON [CompanyPolicies] ([PolicyId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Employees_CompanyId] ON [Employees] ([CompanyId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Payments_CustomerId] ON [Payments] ([CustomerId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Payments_PolicyId] ON [Payments] ([PolicyId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE UNIQUE INDEX [IX_Payments_QuoteId] ON [Payments] ([QuoteId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_QuoteRequests_AssignedAgentId] ON [QuoteRequests] ([AssignedAgentId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_QuoteRequests_CustomerId] ON [QuoteRequests] ([CustomerId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_QuoteRequests_PolicyId] ON [QuoteRequests] ([PolicyId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Quotes_AgentId] ON [Quotes] ([AgentId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Quotes_CustomerId] ON [Quotes] ([CustomerId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Quotes_PolicyId] ON [Quotes] ([PolicyId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE UNIQUE INDEX [IX_Quotes_QuoteRequestId] ON [Quotes] ([QuoteRequestId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_RecommendationPolicies_PolicyId] ON [RecommendationPolicies] ([PolicyId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_RecommendationPolicies_RecommendationId] ON [RecommendationPolicies] ([RecommendationId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Recommendations_AgentId] ON [Recommendations] ([AgentId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE INDEX [IX_Recommendations_CustomerId] ON [Recommendations] ([CustomerId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE UNIQUE INDEX [IX_Recommendations_QuoteRequestId] ON [Recommendations] ([QuoteRequestId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    CREATE UNIQUE INDEX [IX_Users_Email] ON [Users] ([Email]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303082752_intital'
)
BEGIN
    INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
    VALUES (N'20260303082752_intital', N'8.0.24');
END;
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303154303_AddDocumentUrlToClaim'
)
BEGIN
    ALTER TABLE [Claims] ADD [DocumentUrl] nvarchar(max) NULL;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260303154303_AddDocumentUrlToClaim'
)
BEGIN
    INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
    VALUES (N'20260303154303_AddDocumentUrlToClaim', N'8.0.24');
END;
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260308163232_AddDateOfBirthToEmployee'
)
BEGIN
    ALTER TABLE [Employees] ADD [DateOfBirth] datetime2 NOT NULL DEFAULT '0001-01-01T00:00:00.0000000';
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260308163232_AddDateOfBirthToEmployee'
)
BEGIN
    INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
    VALUES (N'20260308163232_AddDateOfBirthToEmployee', N'8.0.24');
END;
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    DECLARE @var0 sysname;
    SELECT @var0 = [d].[name]
    FROM [sys].[default_constraints] [d]
    INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
    WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Employees]') AND [c].[name] = N'DateOfBirth');
    IF @var0 IS NOT NULL EXEC(N'ALTER TABLE [Employees] DROP CONSTRAINT [' + @var0 + '];');
    ALTER TABLE [Employees] DROP COLUMN [DateOfBirth];
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    ALTER TABLE [Quotes] ADD [BaseQuote] decimal(18,2) NOT NULL DEFAULT 0.0;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    ALTER TABLE [Quotes] ADD [GeographyFactor] decimal(18,4) NOT NULL DEFAULT 0.0;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    ALTER TABLE [Quotes] ADD [IndustryFactor] decimal(18,4) NOT NULL DEFAULT 0.0;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    ALTER TABLE [Quotes] ADD [PlanRiskFactor] decimal(18,4) NOT NULL DEFAULT 0.0;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    ALTER TABLE [QuoteRequests] ADD [CustomIndustry] nvarchar(max) NULL;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    ALTER TABLE [QuoteRequests] ADD [GeographyFactor] decimal(18,4) NULL;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    ALTER TABLE [QuoteRequests] ADD [IndustryFactor] decimal(18,4) NULL;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    ALTER TABLE [QuoteRequests] ADD [LocationCategory] nvarchar(max) NULL;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    ALTER TABLE [QuoteRequests] ADD [PlanRiskFactor] decimal(18,4) NULL;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260310102305_AddRiskFactorsToQuotes'
)
BEGIN
    INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
    VALUES (N'20260310102305_AddRiskFactorsToQuotes', N'8.0.24');
END;
GO

COMMIT;
GO


